node_modules
.next
generated

.git
.github

.env
.env.*
!.env.example

.agents
.claude
.windsurf

*.md
!README.md

.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.tsbuildinfo
